@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #ED3324;
}

button{
	outline:none;
	transition: all 100ms ease-out;
}

button::-moz-focus-inner {
   border: 0;
}

h1{
	text-align: center;
	color: white;
}

h2{
	color:white;
	font-size:30px;
}
p{
	font-size:20px;
	color:white;
}

p span{
	font-size:25px;
}


#tomatoTimer{
	text-align: center;
	width: 80%;
    margin: 0 auto;
	background-image: url("http://pngimg.com/uploads/tomato/tomato_PNG12567.png");
	background-position: 50% 50%;
    background-size: 50%;
	background-repeat: no-repeat;
	border:2px solid white;
	border-radius:30px;
	padding:20px;

}


.plusAndMinus{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	font-size: 21px;
	border: 0;
	background-color: #f41313;
	color: white;
	border: 2px solid white;
	box-shadow: 0 3px 3px #999;
}

.plusAndMinus:hover,.startAndPause:hover{
	cursor:pointer;
}

.plusAndMinus:active,.startAndPause:active{
	transform: translateY(2px);
}

.startAndPause{
	width:100px;
	height:40px;
	border:0;
	background-color: #f41313;
	color:white;
	font-size:20px;
	border:2px solid white;
	border-radius:10px;
	box-shadow: 0 3px 3px #999;
}



footer {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	position: relative;
	font-size: 16px;
	font-weight: normal;
	margin-top: 30px;
	width: 100%;
	height: 40px;
	color:white;
}

footer a{
	text-decoration: none;
	color: #922031;
}

@media screen and (max-width: 480px) {
	.plusAndMinus {
	    width: 40px;
	    height: 40px;
	}
}




